//计算优惠后价格
function  calculatePrice(price,checkCoupon=null,current_discount=10) {
  var total = 0;

  if(checkCoupon == null){
    total = price * current_discount / 10 
    return Math.round(total * 100)/100
  }else if(checkCoupon.type == '满减'){
    // if(userInfo == null){
    //   total = price - checkCoupon.value + shipmentExpenses
    //   return Math.round(total * 100)/100
    // }
    total = (price - checkCoupon.value) * current_discount / 10 
    return Math.round(total * 100)/100
  }else if(checkCoupon.type == '折扣'){
    return price
  }
}
// 订单返回金额减去余额
function  balance_total(total,balance){
  var total = parseFloat(total)
  var balance = parseFloat(balance)
  if(total - balance <= 0){
    return 0.0
  }else{
    return (total - balance).toFixed(2)
  }
}
// 订单返回金额余额已抵扣
function  balance_deduct(total,balance){
  var total = parseFloat(total)
  var balance = parseFloat(balance)
  if(total - balance <= 0){
    return total.toFixed(2)
  }else{
    return balance.toFixed(2)
  }
}



module.exports = {
  calculatePrice: calculatePrice,
  balance_total: balance_total,
  balance_deduct: balance_deduct
}