function vip_total (order) {
  if(order.line_items == null || order.line_items.length <= 0) {
    return '0'
  }

  var total = 0
  for(var i=0; i < order.line_items.length; i++) {
    var line = order.line_items[i]
    total += line.vip_price*line.quantity
  }

  return total.toFixed(2)
}

function origin_total (order) {
  if(order.line_items == null || order.line_items.length <= 0) {
    return '0'
  }

  var total = 0
  for(var i=0; i < order.line_items.length; i++) {
    var line = order.line_items[i]
    total += line.origin_price*line.quantity
  }

  return total.toFixed(2)
}

//获取字符串第一个空格前的内容
function cutDate(timeString){
  if(timeString){
    return timeString.split(" ")[0]
  }else{
    return -1
  }
}

function payLeftTime (order, now) {
  if(order.state != 'new') { return -1 }
  
  // ios 真机 wxs 文件中不能识别时间字符串中的 '-'
  var created_at = order.created_at_t.replace('-','/').replace('-','/')

  var orderTime = getDate(created_at)/1000;
  var leftTime = now - orderTime
  if(leftTime > order.pay_order_expire) {
    return -1
  } else {
    return (order.pay_order_expire - leftTime)
  }
}

module.exports = {
  vip_total: vip_total,
  origin_total: origin_total,
  payLeftTime: payLeftTime,
  cutDate: cutDate
}