function canService(order) {
  if (order == null || order.state == null) {
    return false
  }

  console.log('---------')
  console.log(order.state)
  var cannotStatus = ['new', 'canceled', 'handle_canceled', 'deleted']
  if (cannotStatus.indexOf(order.state) >= 0) {
    return false
  } else {
    return true
  }
}

function productType(order) {
  if (order == null || order.line_items == null || order.line_items.length <= 0) {
    return 0
  }
  var product = order.line_items[0].product
  if(product == null) { return 0 }
  if(product.tags.indexOf('虚拟卡券') >= 0) {
    return 1
  } else {
    return 2
  }
}

function vip_total (order) {
  if(order.line_items == null || order.line_items.length <= 0) {
    return '0'
  }

  var total = 0
  for(var i=0; i < order.line_items.length; i++) {
    var line = order.line_items[i]
    total += line.vip_price*line.quantity
  }

  return total.toFixed(2)
}

module.exports = {
  canService: canService,
  productType: productType,
  vip_total: vip_total
}