function hidePhone (phone=null) {
  if(phone == null) {
    return ''
  }
  phone = '' + phone
  if (phone.length < 11) {
    return phone;
  }
  var _phone = phone.slice(0, 3) + '****' + phone.slice(7, 11)
  return _phone
}

function getD (seconds){
  var ds = 24*60*60
  if (seconds < ds) {
    return '00'
  }

  var result = Math.floor(seconds/ds)
  if(result <= 9) {
    result =  '0' + result
  }

  return result
}

function getH (seconds) {
  var hs = 60*60

  if (seconds < hs) {
    return '00'
  }

  var result = Math.floor(seconds/hs)%24

  if (result <= 9) {
    result = '0' + result
  }

  return result
}

function getM (seconds) {
  var ms = 60

  if (seconds < ms) {
    return '00'
  }

  var result = Math.floor(seconds/ms)%60

  if (result <= 9) {
    result = '0' + result
  }

  return result
}

function getS (seconds) {
  if (seconds <= 0) {
    return '00'
  }

  var result = seconds%60

  if (result <= 9) {
    result = '0' + result
  }

  return result
}

function formatTime (date) {
  var year = date.getFullYear()
  var month = date.getMonth() + 1
  var day = date.getDate()
  var hour = date.getHours()
  var minute = date.getMinutes()
  var second = date.getSeconds()

  return [year, month, day].map(formatNumber).join('/') + ' ' + [hour, minute, second].map(formatNumber).join(':')
}

function simpleFormatTime (date) {
  var year = date.getFullYear()
  var month = date.getMonth() + 1
  var day = date.getDate()
  var hour = date.getHours()
  var minute = date.getMinutes()
  var second = date.getSeconds()

  return [year, month, day].map(formatNumber).join('-') + ' ' + [hour, minute].map(formatNumber).join(':')
}

function formatTimeForInt (timestamp) {
  var date = getDate(timestamp * 1000)
  return simpleFormatTime(date)
}

function formatNumber (n) {
  n = n.toString()
  return n[1] ? n : '0' + n
}

module.exports = {
  hidePhone: hidePhone,
  getD: getD,
  getM: getM,
  getH: getH,
  getS: getS,
  formatTime: formatTime,
  formatTimeForInt: formatTimeForInt,
}