function priceTos (price) {
  if (price == null) {return ''}
  price = parseFloat(price)
  return price.toFixed(2)
}

function priceDecimal (price) {
  if (price == null) { return '' }
  price = parseFloat(price)
  var priceStr = price.toFixed(2)
  var length = priceStr.length
  return priceStr.slice(length - 2, length)
}

function priceInt (price) {
  if (price == null) { return '' }
  price = parseFloat(price)
  var priceStr = price.toFixed(2)
  var length = priceStr.length
  return priceStr.slice(0, length-3)
}

// lineItems 购物车中已勾选的商品（选中所有商品（总和 - 优惠券） * 折扣 + 邮费）
function discountTotal (storeCart, lineItems, user=null, current_discount=10, shipmentExpenses,couponValue=0) {

  if(shipmentExpenses == null){
    shipmentExpenses = 0
  }

  if (user == null) {
    var total = storeCart.total - couponValue + shipmentExpenses
    total = Math.round(total * 100)/100
    return total
  }
  
  //非特殊商品算一遍总和 特殊商品算一遍总和 ->非特殊商品减优惠券*折扣 + 特殊商品总和 = 打了多少折 （返回true false用于判断会员专享是否展示 <= 0 为false）
  // if (user.kzx_user_identification == 1 && user.discount != null) 
  var no_special_goods = 0;
  var special_goods = 0;
  var result = 0;
  for(var i=0; i < lineItems.length; i++) {
    var item = lineItems[i]
    var item_total = item.price * item.quantity
    if(item.product.tags != null && item.product.tags.indexOf('特殊商品') > -1){
      special_goods += item_total
    }else{
      no_special_goods += item_total
    }
  }
  if(no_special_goods - couponValue <= 0){
    no_special_goods = 0 - couponValue + shipmentExpenses;
    result = no_special_goods + special_goods
    console.log(no_special_goods,special_goods,couponValue)
    return Math.round(result * 100)/100
  }else{
    no_special_goods = (no_special_goods - couponValue) * current_discount / 10 + shipmentExpenses;
    result = no_special_goods + special_goods
    return Math.round(result * 100)/100
  }

}

function vipDiscount(lineItems, user=null, couponValue=0, current_discount=10){
  if (user == null) {
    return 0
  }

  var result = 0;
  var discount = 1 - current_discount / 10;
  for(var i=0; i < lineItems.length; i++) {
    var item = lineItems[i]
    var item_total = item.price * item.quantity
    if(item.product.tags == null || item.product.tags.indexOf('特殊商品') == -1){
      result += item_total
    }
  }

  if(result - couponValue <= 0){
    return {
      result:0,
      isShow:false
    }
  }

  result = (result - couponValue) * discount.toFixed(2);

  return {
    result:Math.round(result * 100)/100,
    isShow:true
  } 
}

module.exports = {
  tos: priceTos,
  int: priceInt,
  decimal: priceDecimal,
  discountTotal: discountTotal,
  vipDiscount:vipDiscount
}